.catalog_items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    height: 260px;
    overflow: hidden;
    transition-duration: 1s;
    padding-bottom: 20px;
    gap: 20px;
    border-radius: 10px;
    background-color: #1a1230;
    cursor: pointer;

}




.catalog_items h4 {
    font-size: 20px;
}

.catalog_items h4 {
    font-size: 14px;
    font-weight: bold;
}

.catalog_items span {
    font-size: 14px;
    opacity: 0.4;
    font-weight: 600;
}

.catalog_items:hover {
    box-shadow: 0px 0px 20px #593EA3;
}

.catalog_items:hover img {
    transform: scale(1.3);
}

.catalog_items div:nth-child(1) {
    height: 80%;
    overflow: hidden;
}

.catalog_items div:nth-child(1) img {
    transition-duration: 1s;
    max-width: 250px;
    min-height: 300px;
}