@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;

    color: #FEFEFA;

    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    background-color: #0F0A1E;
}




h1,
h1>span,
h2,
h3 {
    font-family: "Audiowide", sans-serif;
    letter-spacing: 0.05em;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
}

a {
    text-decoration: none;
}

a,button {
    cursor: pointer;
}

button {
    font-size: 13px;
    border: none;
    font-weight: 600;
    border-radius: 8px;
}

