#back_catalog {
    margin-top: 80px;
    margin-inline: 20px;
    margin-bottom: 20px;
    display: flex;
}

#back_catalog a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 10px 18px;
    opacity: 0.5;
}

#back_catalog a:hover {
    opacity: 1;
}

#back_catalog a span {
    font-weight: bold;
}


.details.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-inline: 20px;
    padding-bottom: 20px;

}

.details.containers {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*

    Contenedor 1 
*/

#container1.details {
    width: 90vw;

}

#container1.details .comp_img {
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-style: none;
    border-radius: 10px;
}

#container1.details .comp_img img {
    width: 100%;

}

#container1.details h3 {
    font-size: 30px;
    margin-bottom: 6px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 800;
}

#container1.details p {
    font-size: 16px;

}

#container1.details .comp_sip {
    padding-inline: 30px;
    padding-block: 20px;

}

#container1.details .comp_sip,
#container2.details {
    background-color: #1C1338;

    border-radius: 20px;
    margin-top: 20px;
}

/* Contenedor 2 */

#container2.details {
    overflow: hidden;
    width: 36vw;

    padding: 40px 20px;




}

#container2.details .comp_img {
    height: 400px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;


}

#container2.details .comp_img img {
    height: 400px;
}

#container2.details .sections h3 {
    font-size: 20px;
}

.buttons_buy {

    width: 90px;
    height: 40px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;

    background: hsla(333, 100%, 53%, 1);

    background: linear-gradient(135deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

    background: -moz-linear-gradient(135deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

    background: -webkit-linear-gradient(135deg, hsla(333, 100%, 53%, 1) 0%, hsla(33, 94%, 57%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF0F7B", endColorstr="#F89B29", GradientType=1);

}



/*Movil*/
@media (max-width:400px) {
    .details.container {
        flex-direction: column;
    }

    #container1.details .comp_img {
        width: 100%;
        height: 200px;
    }

    #container1.details .comp_img img {
        height: 200px;
    }

    #container2.details {
        width: 87%;
    }

    #back_catalog {
        margin-top: 25px;
        justify-content: flex-end;
       
    }

}